@import '../../../colors.scss';
@import '../../../typography-helpers.scss';

.root {
  @include TextSizeAndFontFamily($size: medium, $weight: normal);

  justify-content: center;

  box-sizing: border-box;
  text-align: center;
  border: 1px solid;

  outline: none;
  transition-duration: 100ms;
  transition-timing-function: linear;
  transition-property: background-color, color, border-color;

  height: 36px;
  min-width: 84px;
  border-radius: 18px;
  padding: 0 23px;

  background-color: $THEME-COLOR-10;
  border-color: $THEME-COLOR-10;
  color: $THEME-TEXT-COLOR-PRIMARY-LIGHT;

  /* render as anchor overrides */
  text-decoration: none;
  user-select: none;
}

.root::content {
  display: flex;
  align-items: center;
}

.root:hover {
  background-color: $THEME-COLOR-20;
  border-color: $THEME-COLOR-20;
  color: $THEME-TEXT-COLOR-PRIMARY-LIGHT;
}

.root:active {
  background-color: $THEME-COLOR-10;
  border-color: $THEME-COLOR-10;
  color: $THEME-TEXT-COLOR-PRIMARY-LIGHT;
}

.root:disabled {
  color: $THEME-TEXT-COLOR-PRIMARY-LIGHT;
  background-color: $D10-30;
  border-color: transparent;
}

.root:focus-visible {
  box-shadow: 0 0 0 3px $F00;
  z-index: 1000;
}

/* Skin: standard - secondary */

.root.priority-secondary {
  background-color: transparent;
  border-color: $THEME-COLOR-10;
  color: $THEME-COLOR-10;
}

.root.priority-secondary:hover {
  color: $D80;
  border-color: transparent;
  background-color: $THEME-COLOR-20;
}

.root.priority-secondary:active {
  background-color: $THEME-COLOR-10;
  border-color: $THEME-COLOR-10;
  color: $D80;
}

.root.priority-secondary:disabled {
  color: $D10-30;
  background-color: transparent;
  border-color: $D10-30;
}

/* Skin: inverted */

.root.skin-inverted {
  border-color: $D80;
  background-color: $D80;
  color: $B10;
}

.root.skin-inverted:hover {
  color: $D80;
  border-color: transparent;
  background-color: $B20;
}

.root.skin-inverted:active {
  background-color: $B10;
  border-color: $B10;
  color: $D80;
}

.root.skin-inverted:disabled {
  color: $D10-30;
  background-color: transparent;
  border-color: $D10-30;
}

/* skin: light */

.root.skin-light {
  border-color: $D80;
  background-color: $D80;
  color: $B20;
}

.root.skin-light:hover {
  background-color: $B50;
  color: $B10;
  border-color: $B50;
}

.root.skin-light:active {
  background-color: $B40;
  color: $B10;
}

.root.skin-light:disabled {
  color: $D80;
  background-color: $D80-30;
  border-color: transparent;
}

/* skin: light - secondary */

.root.skin-light.priority-secondary {
  border: solid 1px $D80;
  background: transparent;
  color: $D80;
}

.root.skin-light.priority-secondary:hover {
  background-color: $B50;
  color: $B10;
  border-color: $B50;
}

.root.skin-light.priority-secondary:active {
  background-color: $B40;
  border: solid 1px $B40;
  color: $B10;
}

.root.skin-light.priority-secondary:disabled {
  color: $D80-70;
  background-color: transparent;
  border-color: $D80-70;
}

/* skin: destructive */

.root.skin-destructive {
  background-color: $R10;
  border-color: $R10;
  color: $D80;
}

.root.skin-destructive:hover {
  background-color: $R20;
  border-color: $R20;
  color: $D80;
}

.root.skin-destructive:active {
  background-color: $R10;
  border-color: $R10;
  color: $D80;
}

.root.skin-destructive:disabled {
  color: $D80;
  background-color: $D10-30;
  border-color: transparent;
}

/* skin: destructive - secondary */

.root.skin-destructive.priority-secondary {
  border: solid 1px $R10;
  background: transparent;
  color: $R10;
}

.root.skin-destructive.priority-secondary:hover {
  background-color: $R20;
  border-color: $R20;
  color: $D80;
}

.root.skin-destructive.priority-secondary:active {
  background-color: $R10;
  border-color: $R10;
  color: $D80;
}

.root.skin-destructive.priority-secondary:disabled {
  color: $D10-30;
  background-color: transparent;
  border-color: $D10-30;
}

/* skin: premium */

.root.skin-premium {
  background-color: $P10;
  border-color: $P10;
  color: $D80;
}

.root.skin-premium:hover {
  background-color: $P20;
  border-color: $P20;
  color: $D80;
}

.root.skin-premium:active {
  background-color: $P10;
  border-color: $P10;
  color: $D80;
}

.root.skin-premium:disabled {
  color: $D80;
  background-color: $D10-30;
  border-color: transparent;
}

/* skin: premium - secondary */

.root.skin-premium.priority-secondary {
  border: solid 1px $P10;
  background: transparent;
  color: $P10;
}

.root.skin-premium.priority-secondary:hover {
  background-color: $P20;
  border-color: $P20;
  color: $D80;
}

.root.skin-premium.priority-secondary:active {
  background-color: $P10;
  border-color: $P10;
  color: $D80;
}

.root.skin-premium.priority-secondary:disabled {
  color: $D10-30;
  background-color: transparent;
  border-color: $D10-30;
}

/* skin: premium-light - primary */

.root.skin-premium-light {
  background-color: $P10;
  border-color: $P10;
  color: $D80;
}

.root.skin-premium-light:hover {
  background-color: $P20;
  border-color: $P20;
  color: $D80;
}

.root.skin-premium-light:active {
  background-color: $P10;
  border-color: $P10;
  color: $D80;
}

.root.skin-premium-light:disabled {
  color: $D80;
  background-color: $D80-30;
  border-color: transparent;
}

/* skin: premium-light - secondary */

.root.skin-premium-light.priority-secondary {
  background-color: transparent;
  border-color: $D80;
  color: $D80;
}

.root.skin-premium-light.priority-secondary:hover {
  background-color: $D80;
  border-color: $D80;
  color: $P10;
}

.root.skin-premium-light.priority-secondary:active {
  background-color: $D80;
  border-color: $D80;
  color: $P10;
}

.root.skin-premium-light.priority-secondary:disabled {
  color: $D80-70;
  background-color: transparent;
  border-color: $D80-70;
}

/* skin: dark */

.root.skin-dark {
  background-color: $D10;
  border: solid 1px $D10;
  color: $D80;
}

.root.skin-dark:hover {
  color: $D80;
  background-color: $D20;
  border-color: $D20;
}

.root.skin-dark:active {
  background-color: $D10;
  border-color: $D10;
  color: $D80;
}

.root.skin-dark:disabled {
  color: $D80;
  background-color: $D10-30;
  border-color: transparent;
}

/* skin: dark - secondary */

.root.skin-dark.priority-secondary {
  background-color: transparent;
  border: solid 1px $D40;
  color: $D10;
}

.root.skin-dark.priority-secondary:hover {
  color: $D80;
  background-color: $D20;
  border-color: $D20;
}

.root.skin-dark.priority-secondary:active {
  background-color: $D10;
  border-color: $D10;
  color: $D80;
}

.root.skin-dark.priority-secondary:disabled {
  color: $D10-30;
  background-color: transparent;
  border-color: $D10-30;
}

/* skin: transparent */

.root.skin-transparent {
  border-color: transparent;
  background-color: $D20-48;
  color: $D80;
}

.root.skin-transparent:hover {
  border-color: transparent;
  background-color: $D20-54;
  color: $D80;
}

.root.skin-transparent:active {
  border-color: transparent;
  background-color: $D20-60;
  color: $D80;
}

.root.skin-transparent:disabled {
  background-color: $D10-20;
  border-color: transparent;
  color: $D80-70;
}

/* skin: transparent - secondary */

.root.skin-transparent.priority-secondary {
  border-color: transparent;
  background-color: transparent;
  color: $D80;
}

.root.skin-transparent.priority-secondary:hover {
  border-color: transparent;
  background-color: $D20-54;
  color: $D80;
}

.root.skin-transparent.priority-secondary:active {
  border-color: transparent;
  background-color: $D20-60;
  color: $D80;
}

.root.skin-transparent.priority-secondary:disabled {
  background-color: transparent;
  border-color: transparent;
  color: $D80-70;
}

/* sizes */

.root.size-large {
  @include TextSizeAndFontFamily($size: medium, $weight: normal);
  height: 42px;
  min-width: 102px;

  border-radius: 21px;
  padding: 0 29px;
}

.root.size-small {
  @include TextSizeAndFontFamily($size: small, $weight: normal);
  height: 30px;
  min-width: 72px;

  border-radius: 15px;
  padding: 0 17px;
}

.root.size-tiny {
  @include TextSizeAndFontFamily($size: tiny, $weight: normal);
  height: 24px;
  min-width: 60px;

  line-height: 16px;
  border-radius: 18px;
  padding: 0 11px;
}

.root.size-tiny[data-madefor='true'] {
  @include TextSizeAndFontFamily($size: tiny, $weight: bold);
}

/* Full width mode */

.root.fluid {
  width: 100%;
}
