$fonts-fallback: "Helvetica Neue", "Helvetica", "Arial", "メイリオ, meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif";

$FontUltraThin: "HelveticaNeueW01-UltLt", "HelveticaNeueW02-UltLt", "HelveticaNeueW10-25UltL", $fonts-fallback;
$FontThin: "HelveticaNeueW01-Thin", "HelveticaNeueW02-Thin", "HelveticaNeueW10-35Thin", $fonts-fallback;
$FontLight: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", $fonts-fallback;
$FontRoman: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", $fonts-fallback;
$FontMedium: "HelveticaNeueW01-65Medi", "HelveticaNeueW02-65Medi", "HelveticaNeueW10-65Medi", $fonts-fallback;
$FontBold: "HelveticaNeueW01-75Bold", "HelveticaNeueW02-75Bold", "HelveticaNeueW10-75Bold", $fonts-fallback;

@mixin FontUltraThin() {
  font-family: $FontUltraThin; /* IE11 */
  font-family: var(--wsr-font-family, $FontUltraThin);
}

@mixin FontThin() {
  font-family: $FontThin; /* IE11 */
  font-family: var(--wsr-font-family, $FontThin);
}
@mixin FontLight() {
  font-family: $FontLight; /* IE11 */
  font-family: var(--wsr-font-family, $FontLight);
}

@mixin FontRoman() {
  font-family: $FontRoman; /* IE11 */
  font-family: var(--wsr-font-family, $FontRoman);
}

@mixin FontMedium() {
  font-family: $FontMedium; /* IE11 */
  font-family: var(--wsr-font-family, $FontMedium);
}

@mixin FontBold() {
  font-family: $FontBold; /* IE11 */
  font-family: var(--wsr-font-family, $FontBold);
}
